# virtual environment
/venv/*

# django local settings
/project/settings_local.py

# database
db.sqlite

# python temps
*.py[cod]

# editor temps
*.swp

# static files
/static/dist/*.css
/static/node_modules/*
/static/package-lock.json

# media files
/media/*

# development and deployment
/meta/*
