{% load static %}<!DOCTYPE html>
<html lang="bg-ivanchov">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<title>Български освѣдомитель – {% block title %}{% endblock %}</title>

	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}" />
	<script type="text/javascript" src="{% static 'script.js' %}"></script>
</head>
<body class="page-wrapper">


	<nav class='navigation'>
		<div class='navigation__header'>
			<button
				id='navigation-button'
				class='navigation__button--mobile nodisplay'>
				<img src="{% static 'images/menu.png' %}" />
			</button>
			<h1 id="header-title--mobile" class="header__title header__title--mobile nodisplay">
				<a class="header__link" href="{% url "home" %}" title="Български освѣдомитель">
					<span>Български</span>
					<span>освѣдомитель</span>
				</a>
			</h1>
		</div>
		<div
			id='navigation-wrapper'
			class='navigation__wrapper'>
			<div class='navigation__issues'>
				<a class="navigation__item" href="{% url "all-issues" %}" title="Всички броеве">Всички броеве</a>
			</div>
			<div class='navigation__categories'>
				{% for cat in categories %}
				<a class="navigation__item navigation__category" href="{{ cat.get_absolute_url }}" title="{{ cat.name }}">{{ cat.name }}</a>
				{% endfor %}
			</div>
		</div>
	</nav>

	<header class="header">
		<h1 id="header-title--desktop" class="header__title">
			<a class="header__link" href="{% url "home" %}" title="Български освѣдомитель">
				<span>Български</span>
				<span>освѣдомитель</span>
			</a>
		</h1>

		<h2 class="header__subtitle">Новини отъ България. Издание съ мнѣние.</h2>
		
		<h3 class="header__date">31 януарий 2020</h3>
		
		<h4 class="header__issue">брой<span> 4</span>, година<span>1</span></h4>
	</header>

	<main class='main'>{% block main %}{% endblock %}</main>
</body>
</html>
