{% load orthography static %}<!DOCTYPE html>
<html lang="bg-ivanchov">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% static 'images/og-image.png' %}"/>
	<meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="630"/>

	<title>Български освѣдомитель – {% block title %}{% endblock %}</title>
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,400i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Tinos:400,400i&display=swap" rel="stylesheet">

	{% block head %}{% endblock %}

	<script type="text/javascript" src="{% static 'script.js' %}"></script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157967027-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-157967027-2');
		gtag('config', 'UA-157967027-1');
	</script>
</head>
<body class="page-wrapper">
	<nav class='navigation'>
		<div class='navigation__header'>
			<button
				id='navigation-button'
				class='navigation__button--mobile nodisplay'>
				<img class="navigation__button_logo" src="{% static 'images/logo-osvedomitel.svg' %}" alt="лого"/>
				<img class="navigation__button_menu" src="{% static 'images/menu-triangle.svg' %}" alt="меню"/>
			</button>
			<h1 id="header-title--mobile" class="header__title header__title--mobile nodisplay">
				<a class="header__link" href="{% url "home" %}" title="Български освѣдомитель">
					<span>БЪЛГАРСКИ</span>
					<span>ОСВѢДОМИТЕЛЬ</span>
				</a>
			</h1>
		</div>
		<div
			id='navigation-wrapper'
			class='navigation__wrapper'>
			<div class='navigation__logo'>
				<img src="{% static 'images/logo-osvedomitel.svg' %}" alt="лого"/>
			</div>
			<div class='navigation__issues'>
				<a class="navigation__item {% if active_nav_item == 'all_issues' %}highlight{% endif %}" href="{% url "all-issues" %}" title="Всички броеве">Всички броеве</a>
			</div>
			<div class='navigation__categories'>
				{% for cat in categories %}
				<a class="navigation__item navigation__category {% if active_nav_item == cat.slug %}highlight{% endif %}" href="{{ cat.get_absolute_url }}" title="{{ cat.name }}">
					{{ cat.name }}
				</a>
				{% endfor %}
			</div>
		</div>
	</nav>

	<header class="header">
		<h1 id="header-title--desktop" class="header__title">
			<a class="header__link" href="{% url "home" %}" title="Български освѣдомитель">
				БЪЛГАРСКИ ОСВѢДОМИТЕЛЬ
			</a>
		</h1>

		<h2 class="header__subtitle">Новини&nbsp;отъ&nbsp;България. Издание&nbsp;съ&nbsp;мнѣние.</h2>

		<h3 class="header__issue">
			{{ current_issue.published | date_ivanchov }} | година <span>{{ current_issue.volume }}</span>, брой <span>{{ current_issue.number }}</span>
		</h3>
	</header>

	<main class='main'>{% block main %}{% endblock %}</main>
</body>
</html>
