/*
	colours
*/

@purple: #7440AB;
@blue: #82AFE5;
@white: #FDFDFF;
@grey: #6B717A;
@dark-grey: #283447;
@darkest-grey: #181818;
@light-blue: #dfe6ec;

/*
	article styles
*/

body {
	font-family: "Tinos", serif;
}

* {
	box-sizing: border-box;
}

.nodisplay {
	display: none;
}

p {
	font-family: "Tinos", serif;
	hyphens: manual;
	text-align: justify;
	text-indent: 40px;
}

p:first-of-type {
	text-indent: 0;
}

h1, h2, h3, h4, h5, label {
	margin: 0;
	font-family: 'Tinos', serif;
}
