{% extends "extends/base.html" %}

{% load orthography restructuredtext typography %}

{% block title %}{{ article.title | add_typography }}{% endblock %}

{% block head %}
<meta name="description" content="{{ article.text | truncatewords:40 }}" />
<meta name="keywords" content="{{ article.keywords.all | join:"," }}" />
{% for author in article.authors.all %}
<meta name="author" content="{{ author.get_full_name }}" />
{% endfor %}
{% endblock %}

{% block main %}
<article class="page page__article">

	<h1 class='article__title'>{{ article.title | add_typography }}</h1>

	<section class='article__main'>
		<article class='article__text'>
			{% if article.subtitle %}<h2>{{ article.subtitle | add_typography }}</h2>{% endif %}

			{{ article.text | add_typography | add_soft_hyphens | rest2html }}
		</article>

		<aside class='article__aside'>
			{% if article.authors.exists %}
			<section class="article__section section__authors">
				{% for name in article.author_names %}
				<span>{{ name }}</span>
				{% endfor %}
			</section>
			{% endif %}

			<section class="article__section section__issue">
				Публикувано на <br />
				<p class='date'>{{ article.issue.published | date_ivanchov }}</p>
			</section>

			<section class="article__section section__issue">
				Публикувано въ <br />
				<a href="{{ article.issue.get_absolute_url }}" title="{{ article.issue.name }}">{{ article.issue.name }}</a>
			</section>

			<section class="article__section section__category">
				Рубрика:
				<a href="{{ article.category.get_absolute_url }}" title="{{ article.category.name }}">{{ article.category.name }}</a>
			</section>

			{% if article.keywords.exists %}
			<section class="article__section section__keywords">
				Ключови думи:
				{% for keyword in article.keywords.all %}
				<a href="{{ keyword.get_absolute_url }}" class='keywords__keyword' title="{{ keyword.keyword }}">{{ keyword.keyword }}</a>
				{% endfor %}
			</section>
			{% endif %}
		</aside>
	</section>
</article>
{% endblock %}
