{% extends "extends/base.html" %}

{% load orthography %}

{% block title %}{{ issue.name }}{% endblock %}

{% block main %}
<article class="issue front-page">
	{% include "includes/front_page_block.html" with article=issue.blocks.1 classes="one" %}
	{% include "includes/front_page_block.html" with article=issue.blocks.0 classes="zero" %}
	{% include "includes/front_page_block.html" with article=issue.blocks.2 classes="two" %}
	{% include "includes/front_page_block.html" with article=issue.blocks.3 classes="three" %}
	{% include "includes/front_page_block.html" with article=issue.blocks.4 classes="four" %}
	{% include "includes/front_page_block.html" with article=issue.blocks.5 classes="five" %}
	{% include "includes/front_page_block.html" with article=issue.blocks.6 classes="six" %}
	<article class="seven">
		<p>
		{% filter add_soft_hyphens %}
			Материали изпращайте на адресъ <a href="mailto:osvedomitel@gmail.com">osvedomitel@gmail.com</a>.
			Източницитѣ на информацията трѣбва да бѫдат ясно посочени въ самия материалъ или въ придружаващия текстъ.
			Въ случай на одобрѣние за публикация, правописътъ ще бѫде приведенъ въ съобразность съ нормитѣ на „Български освѣдомитель“.
		{% endfilter %}
		</p>
	</article>
</article>
{% endblock %}
