{% extends "extends/base.html" %}

{% load orthography %}

{% block title %}{{ issue.name }}{% endblock %}

{% block head %}
<meta name="description" content="Начална страница. {{ issue.name }}, публикуванъ на {{ issue.published | date_ivanchov }}." />
{% endblock %}

{% block main %}
<article class="issue front-page">
	{% include "includes/front_page_block.html" with article=issue.blocks.1 classes="one" %}
	{% include "includes/front_page_block.html" with article=issue.blocks.0 classes="zero" %}
	{% include "includes/front_page_block.html" with article=issue.blocks.2 classes="two" %}
	{% include "includes/front_page_block.html" with article=issue.blocks.3 classes="three" %}
	{% include "includes/front_page_block.html" with article=issue.blocks.4 classes="four" %}
	{% include "includes/front_page_block.html" with article=issue.blocks.5 classes="five" %}
	{% include "includes/front_page_block.html" with article=issue.blocks.6 classes="six" %}
	<article class="seven">
		{% filter add_soft_hyphens %}
		<p>
			Материали изпращайте на адресъ <a href="mailto:bg.osvedomitel@gmail.com">bg.osvedomitel@gmail.com</a>.
			Източницитѣ на информацията трѣбва да бѫдатъ ясно посочени въ самия материалъ или въ придружаващия текстъ.
			Въ случай на одобрение за публикация, правописътъ ще бѫде приведенъ въ съобразность съ нормитѣ на „Български освѣдомитель“.
		</p>
		<p>
			Потърсѣте ни и въ Фейсбукъ на
			<a href="https://facebook.com/osvedomitel.bg" title="Фейсбукъ страница">facebook.com/osvedomitel.bg</a>
			и въ Телеграмъ на
			<a href="http://t.me/bg_osvedomitel" title="Телеграмъ каналъ">t.me/bg_osvedomitel</a>.
		</p>
		{% endfilter %}
	</article>
</article>

<footer class='footer'>
	<a href="{% url "issue" current_issue.published.year current_issue.published.month %}" title='Всички статии'>Вижъ всички статии отъ този брой</a>
</footer>
{% endblock %}
