@import 'common.less';

.page__article {
    background-color: white;

    .article__main {
        display: flex;
        padding: 0 0 20px 0;
    }

    .article__title {
        max-width: 740px;
        margin: 20px auto;
        max-width: 960px;
    }

    .article__text {
        max-width: 740px;
        margin: 0 auto;
    }
    
    .article__aside {
        border-left: 10px solid lighten(@purple, 15%);
        background-color: lighten(@purple, 45%);
        padding: 30px;
        font-family: 'OS TT';
        color: @dark-grey;
        margin: 0 0 0 60px;
        min-width: 220px;
        width: 220px;
        height: auto;
        align-self: flex-start;
    }

    .article__section {
        margin: 20px 0;
        font-size: 18px;
    }

    .article__text {

        h1 {
			font-size: 24px;
			font-family: 'Times New Roman', serif;
		}

		h2 {
			border-left: 10px solid lighten(@purple, 15%);
			font-size: 18px;
			color: @dark-grey;
			font-family: 'Times New Roman', serif;
			padding: 0 20px;
			margin: 20px 0;
		}
    }

    .section__authors {
        color: @dark-grey;
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 30px 0;

        span {
            display: block;
        }
    }

    .section__issue,
    .section__category {
        text-decoration: none;

        a {
            margin: 5px 0;
            color: @dark-grey;
            text-decoration: none;
            text-transform: lowercase;
            color: @purple;
            display: block;

            &:hover {
                font-weight: bold;
            }
        }
    }

    .section__category {

        a {
            text-transform: capitalize;
        }
    }

    .keywords__keyword {
        color: @purple;
        text-decoration: none;
        display: block;
        margin: 3px 0;

        &:hover {
            font-weight: bold;
        }
    }
}


@media screen and (max-width: 1024px) {

    .page__article {
    
        .article__main {
            flex-direction: column;
        }
    
        .article__aside {
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
        }

        .article__section {
            margin: 0;
            font-size: 18px;
        }

    }
}

@media screen and (max-width: 960px) {

    .page__article {

        .article__title {
            max-width: 740px;
        }
    
        .article__aside {
            flex-direction: column;
        }

        .article__section {
            margin: 20px 0;
        }
    }
}