@import 'common.less';

.page-wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.front-page {
	background-color: lighten(@purple, 45%);
	display: grid;
	grid-gap: 3px;
	grid-template-columns: 4fr 7fr 3fr;
	grid-template-rows: auto auto auto auto;

	.article__text {
		padding: 30px;
		background-color: white;
		
		h1 {
			font-size: 24px;
			font-family: 'Times New Roman', serif;
		}

		h2 {
			border-left: 10px solid lighten(@purple, 15%);
			font-size: 18px;
			color: @dark-grey;
			font-family: 'Times New Roman', serif;
			padding: 0 20px;
			margin: 20px 0;
		}
		
		p {
			color: @dark-grey;
			margin: 0;
			font-size: 18px;
			line-height: 24px;
		}
	}
}

.article__title {
	color: @dark-grey;
	font-family: "sans-serif";
	font-size: 22px;
	margin: 20px 0;

	a {
		text-decoration: none;
		color: @dark-grey;

		&:hover {
			color: @purple;
		}
	}
}

.article__more {
	float: right;
}

// newspaper style sections

.zero {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
}

.one {
	grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    
    .article__title {

		a {
			font-size: 35px;
		}
    }
}

.two {
	grid-column: 1 / span 1;
	grid-row: 2 / span 2;
}

.three {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
}

.four {
	grid-column: 2 / span 1;
	grid-row: 3 / span 1;
}

.five {
	grid-column: 3 / span 1;
	grid-row: 2 / span 3;
}

.six {
	grid-column: 2 / span 1;
	grid-row: 4 / span 1;
}

.seven {
	font-family: 'Ariel', sans-serif;
	grid-column: 1 / span 1;
	grid-row: 4 / span 1;
	padding: 30px 50px;
	background-color: @dark-grey;
	color: white;
	font-size: 16px;
	line-height: 22px;

	p, a {
		font-family: 'Ariel', sans-serif;
	}

	a {
		background: white;
		padding: 3px 6px;
		font-weight: bold;
		color: @dark-grey;
	}
}


@media screen and (max-width: 1200px) {

	.front-page {
		display: flex;
        flex-direction: column;
		background-color: white;
		padding: 0 20px;
		
		.article__text {
			border-top: 3px solid lighten(@purple, 45%);
			padding: 10px 0 25px 0;
			max-width: 650px;
			margin: 0 auto;

			&:nth-child(1) {
				border: none;
				margin: 30px auto 0 auto;
			}
		}
	}

	.article__more {
		margin: 20px 0;
	}

	.article__title {
		font-size: 20px;
		margin: 10px 0 20px 0;
	}

	.one {		
		.article__title {
			font-size: 25px;
		}
	}
}
