@import 'common.less';

.header {
	background-color: @purple;
	display: grid;
	grid-template-columns: 120px auto auto 220px;
	grid-template-rows: auto auto auto;
	grid-gap: 40px;
	padding: 30px 30px 0 30px;
}

.header__date {
    color: white;
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	text-align: right;
	margin: 20px 20px 20px 0;
}

.header__issue {
    color: white;
	font-family: '';
	grid-column: 4 / span 1;
	grid-row: 1 / span 1;
	text-align: right;
	font-size: 20px;
	font-weight: 400;
	margin: 20px 0;
    font-style: italic;
    
    span:nth-child(1) {
        font-weight: 700;
        font-size: 60px;
        font-style: normal;
    }

    span:nth-child(2) {
        font-weight: 700;
        font-size: 25px;
        margin-left: 10px;
        font-style: normal;
    }
}

.header__subtitle {
    color: white;
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
	margin: 20px 0 0 0; 
    font-weight: normal;
    font-size: 20px;
	font-style: italic;
}

.header__title {
    margin: 0;
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	// text-decoration: underline;
}

.header__link {
    color: white;
	font-family: "OS TT";
	font-weight: normal;
	font-size: 65px;
	text-decoration: none;
    line-height: 65px;
    
    span:nth-child(1) {
        font-size: 45px;
        line-height: 45px;
        font-weight: bold;
    }
}

.header__info {
    color: white;
	grid-row: 2 / span 1;
	grid-column: 4 / span 1;
	font-size: 16px;
	font-weight: normal;
	text-align: right;
	margin: 20px 0 0 0;
}

@media screen and (max-width: 1024px) {

    .header__link {
        font-size: 50px;
        line-height: 50px;
        
        span:nth-child(1) {
            font-size: 40px;
            font-weight: bold;
        }
    }
}


@media screen and (max-width: 960px) {

    .header__subtitle {
        font-size: 20px;
    }

    .header__date {
        text-align: left;
    }

    .header__issue {
        font-weight: 400;
        margin: 20px 0;
        font-style: italic;
        text-align: left;
        
        span:nth-child(1) {
            font-size: 50px;
        }
    
        span:nth-child(2) {
            font-size: 25px;
        }
    }

    .header__info {
        text-align: left;
    }
}

@media screen and (max-width: 740px) {

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .header__link {
        font-size: 40px;
        line-height: 40px;
        
        span:nth-child(1) {
            font-size: 30px;
            font-weight: bold;
        }
    }
}