.page {
    max-width: 960px;
    padding: 50px 20px;
    margin: 0 auto;

    .article__title {
        color: @dark-grey;
        font-family: "sans-serif";
        font-size: 30px;
        margin: 20px 0;
    }

    // subtitle (from the admin)
    h2 {
		border-left: 10px solid lighten(@purple, 15%);
		font-size: 20px;
		color: @dark-grey;
		font-family: 'Times New Roman', serif;
		padding: 30px;
		margin: 20px 0;
    }
    
    // article text
    p {
		color: @dark-grey;
        margin: 0 0 20px 0;
        font-size: 20px;
        line-height: 24px;
    }
}

.page__heading {
    margin: 30px 0;
    font-size: 30px;
}

.articles__article {
    margin: 50px 0;
}